extends layout

block content
  .container.mt-4
    .row.justify-content-center
      .col-md-8
        .card
          .card-header.bg-primary.text-white
            h4.mb-0= title

          .card-body
            form(method='POST')
              .form-group
                label(for='g_name') Gallery name:
                input#g_name.form-control(
                  type='text',
                  name='g_name',
                  required,
                  placeholder='min. 2 letters',
                  value=(gallery ? gallery.name : '')
                )

              .form-group
                label(for='g_description') Description:
                input#g_description.form-control(
                  type='text',
                  name='g_description',
                  required,
                  placeholder='optional',
                  value=(gallery ? gallery.description : '')
                )

              // Ukryte pole z ID właściciela (logged in user)
              input(type='hidden', name='g_user', value=currentUser._id)

              button.btn.btn-success.btn-block(type='submit') Submit

            if messages
              .mt-3
                ul.list-unstyled
                  each message in messages
                    li.text-info= message
