extends layout

block content
  .container.mt-4
    h1.mb-4= title

    form(method='POST', class='mb-4')
      .form-group
        label(for='s_gallery') Select gallery:
        select#s_gallery.form-control(name='s_gallery', required)
          for gallery in galleries
            if sel_gallery == gallery._id
              option(value=gallery._id selected)= `${gallery.name}`
            else
              option(value=gallery._id)= `${gallery.name}`
      button.btn.btn-primary(type='submit') Submit

    if images && images.length
      .row
        each image in images
          .col-md-4.mb-4
            .card.h-100
              img.card-img-top(src=`/images/${image.path}`, alt=image.name, style="object-fit:cover; height:200px;")
              .card-body
                h5.card-title= image.name
                p.card-text= image.description
              .card-footer.d-flex.justify-content-between
                a.btn.btn-sm.btn-info(href=`/images/image_show?image_id=${image._id}`) Show
                a.btn.btn-sm.btn-warning(href=`/images/image_update?image_id=${image._id}&gallery_id=${sel_gallery}`) Update
                form(action=`/images/image_delete/${image._id}`, method='POST', style='display:inline')
                  button.btn.btn-sm.btn-danger(type='submit') Delete
    else
      .alert.alert-info.text-center
        | There are no images in this gallery.

    if messages
      ul.mt-3
        each message in messages
          li.text-danger!= message
