extends layout

block content
  .container.mt-4
    if image
      .card.mx-auto(style='max-width: 700px;')
        .card-header.bg-primary.text-white
          h2.mb-0= image.name
        .card-body
          if image.gallery
            p.mb-1
              strong Gallery: 
              | #{image.gallery.name}
          if image.description
            p.mb-3
              strong Description: 
              | #{image.description}
          img.img-fluid.border(src=`/images/${image.path}`, alt=image.name, style="max-height: 400px; display: block; margin: auto;")
    else
      .alert.alert-danger.text-center
        | Image not found.
