extends layout

block content
  .container.mt-4
    .row.justify-content-center
      .col-md-8
        .card
          .card-header.bg-primary.text-white
            h4.mb-0= title

          .card-body
            form(method='POST')
              .form-group
                label(for='i_name') Image Name:
                input#i_name.form-control(
                  type='text',
                  name='i_name',
                  required,
                  placeholder='min. 2 letters',
                  value=(image ? image.name : '')
                )

              .form-group
                label(for='i_description') Description:
                input#i_description.form-control(
                  type='text',
                  name='i_description',
                  required,
                  placeholder='min. 2 letters',
                  value=(image ? image.description : '')
                )

              .form-group
                label(for='i_gallery') Select gallery:
                select#i_gallery.form-control(name='i_gallery', required)
                  option(value='') --Select a gallery--
                  for gallery in galleries
                    if image && image.gallery && gallery._id.toString() === image.gallery._id.toString()
                      option(value=gallery._id selected)= gallery.name
                    else
                      option(value=gallery._id)= gallery.name

              button.btn.btn-success.btn-block(type='submit') Submit

            if messages
              .mt-3
                ul.list-unstyled
                  each message in messages
                    li.text-danger= message
