extends layout

block content
  .container.mt-4
    .row.justify-content-center
      .col-md-8
        .card
          .card-header.bg-primary.text-white
            h4.mb-0= title

          .card-body
            form(method='POST')
              .form-group
                label(for='name') Name:
                input#name.form-control(
                  type='text',
                  name='name',
                  placeholder='min. 2 letters',
                  required,
                  value=(user ? user.name : '')
                )

              .form-group
                label(for='surname') Surname:
                input#surname.form-control(
                  type='text',
                  name='surname',
                  placeholder='min. 2 letters',
                  required,
                  value=(user ? user.surname : '')
                )

              .form-group
                label(for='username') Username:
                input#username.form-control(
                  type='text',
                  name='username',
                  placeholder='min. 3 letters',
                  required,
                  value=(user ? user.username : '')
                )

              .form-group
                label(for='password') Password:
                input#password.form-control(
                  type='password',
                  name='password',
                  placeholder='min. 8 characters',
                  required,
                  minlength='8',
                  autocomplete='off'
                )

              button.btn.btn-success.btn-block(type='submit') Submit

            if messages
              .mt-3
                ul.list-unstyled
                  each message in messages
                    li.text-danger= message
